@use 'sass:math';
@use './unit' as *;
@use './variable' as *;
@use './color' as *;

// 마진 관련 믹스인
@mixin autoMargin() {
  margin-left: auto;
  margin-right: auto;
}

// 음료 컨테이너 믹스인
@mixin beverageMobileContainer() {
  width: 100%;
  height: rem(373px);
}

@mixin beverageDesktopContainer() {
  width: rem(359px);
  height: rem(373px);
}

@mixin beverageImageSize() {
  width: rem(274px);
  height: rem(274px);
}
