@use './../utils' as *;

.beverage-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: rem(20px);
}

.beverage-item {
  position: relative;
  background-color: $grayscale-snow;

  figure {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }

  article {
    display: none;
    position: absolute;
    top: 0;
    right: 0;

    ul {
      display: flex;
      flex-flow: column wrap;
      height: rem(63px);
      margin: rem(16px) rem(24px);
    }
  }

  .is--active {
    display: block;
  }
}

@include mobile {
  .beverage-list {
  }
  .beverage-item {
    @include beverageMobileContainer;
  }
}

@include desktop {
  .beverage-list {
  }
  .beverage-item {
    @include beverageDesktopContainer;
  }
}
