@use './../utils' as *;

.beverage-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: rem(20px);
}

.beverage-item {
  background-color: $grayscale-snow;
  position: relative;

  figure {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;
    align-items: center;
    gap: rem(20px);
    justify-content: center;
  }

  figcaption{
    margin-bottom: rem(25px);
  }

  img{
    @include beverageImageSize;
  }

  // 개별 음료 정보
  article {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;

    .beverage-title {
      span {
        display: block;
      }

      border-bottom: 2px solid $grayscale-black;
    }

    ul {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-flow: column wrap;
      height: rem(63px);
      margin: rem(16px) rem(24px);

      span {
        margin-left: rem(30px);
      }
    }

    &.is--active {
      display: block;
    }
  }
}

@include mobile {
  .beverage-item {
    @include beverageMobileContainer;
  }
}

@include desktop {
  .beverage-list {
    max-width: rem(740px);
    margin-left: auto;
    margin-right: auto;
  }
  .beverage-item {
    @include beverageDesktopContainer;
  }
}
