@use "./base";
@use "./utils" as *;
@use "./components" as *;
@use "./layout" as *;

// 메인 배너
.main {
  background: $secondary-lightblue-100;
  color: $primary-blue-100;
  text-align: center;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: rem(36px);
  padding-bottom: rem(16px);
  margin-bottom: rem(165px);

  // 메인 텍스트 스타일링
  & p {
    width: 70%;
    font-size: rem(16px);
    @include marginY(20px);
    margin-left: auto;
    margin-right: auto;
  }
  & p::before {
    content: "";
    @include posCenterX;
    width: 50px;
    display: block;
    top: 105px;
    border-top: 1px solid black;
  }
  @include respond-until(md) {
    & p::before {
      content: "";
      @include posCenterX;
      width: 50px;
      display: block;
      top: 150px;
      border-top: 1px solid black;
    }
  }
  & p:nth-child(2) {
    font-weight: 100;
    font-size: rem(36px);

    & span {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  // 버튼 틀
  & .btn {
    border: 1px solid $primary-blue-100;
    background: transparent;
    cursor: pointer;
    @include paddingX(16px);
    @include paddingY(8px);
  }

  // 메인 이미지
  &-img-cheese {
    @include posLeft($pos: relative);
    transform: translate(350px, 100px);
    display: inline-block;
    animation-name: moveEffect;
    animation-duration: 400ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    
  }
  &-img-rice {
    @include posRight($pos: relative);
    display: inline-block;
    animation-name: moveEffect;
    animation-duration: 400ms;
    animation-delay: 100ms;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    transform: translate(rem(-200px), rem(200px));
  }
  @include mobile {
    &-img-cheese {
      display: none;
    }
    &-img-rice {
      & img {
        width: 225px;
        height: 161px;
      }
    }
    &-img {
      margin-top: rem(230px);
      padding-right: rem(100px);
    }
  }
  &-img {
    @include posLeft(rem(20px), rem(50px));
    @include posCenterX;
    min-width: 1200px;

    &-cheese {
      @include posLeft($pos: relative);
      // display: inline-block;
      margin-right: 50px;
      padding-left: 100px;
    }
    &-rice {
      @include posRight($pos: relative);
      margin-left: 150px;
    }
  }
}
// 애니메이션
@keyframes moveEffect {
  0% {
    transform: translateY(rem(0px));
  }
  100% {
    transform: translateY(rem(5px));
  }
}
