@use "./base";
@use "./utils" as *;
@use "./components" as *;
@use "./layout" as *;

// 메인 배너
.main {
  background: $secondary-lightblue-100;
  color: $primary-blue-100;
  text-align: center;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: rem(36px);
  padding-bottom: rem(16px);
  margin-bottom: rem(165px);
  & p {
    width: 70%;
    font-size: rem(16px);
    @include marginY(20px);
    margin-left: auto;
    margin-right: auto;
  }
  & p:nth-child(2) {
    font-weight: 100;
    font-size: rem(36px);

    & span {
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  & .btn {
    border: 1px solid $primary-blue-100;
    background: transparent;
    @include paddingX(16px);
    @include paddingY(8px);
  }
  &-img-cheese {
    @include posLeft;
    transform: translate(rem(150px),rem(10px))
  }
  &-img-rice {
    @include posRight;
    transform: translate(rem(-150px),rem(150px));
  }
  @include mobile {
    &-img-cheese {
      display: none;
    }
    &-img-rice {
      width: rem(225px);
      height: rem(161px);
      transform: translate(rem(-110px),rem(250px));
    }
  }
}


